{% extends 'Restorations/base.html' %}
{% load static %}
{% load display_big_int %} <!-- Should be as filtertag.py name -->

{% block body %}
{% for restore in restore_list %}
<div class="card" onclick="location='{% url 'Restorations:card' restore.id %}';">
    <div class="card-img-wrap"><img class="image card-image" src="{{ restore.image }}"
                                    onerror="this.src=
                                    '{% static 'Restorations/src/card_img_placeholder.jpg' %}'"/>
    </div>
    <div class="card-content">
        <div class="text-title text-card-title">{{ restore.name }}</div>
        <div class="text-details">
            Collected:
            {{ restore.given_sum|display_int }} /
            {{ restore.total_sum|display_int }}
            {{ money_symbhol }}
            <br/>Description: {{restore.descr}}
        </div>
        <a class="accept-button">
            <div>Open</div>
        </a>
        <form method="post">
            {% csrf_token %}
            <input style="display: none" name="delete" value="{{ restore.id }}">
            <button type="submit" class="delete">delete</button>
        </form>
    </div>
</div>
{% endfor %}
{% endblock %}
